*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    cursor: pointer;
    width: 25px;
    margin-left: 35px;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}


nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}


nav ul li a:hover{
    color: #3888CF;
    border-bottom: 1px solid #3888CF;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    position: relative;
    flex-basis: 40%;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 54px;
}

.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.col-1 h4{
    margin: 20px 0;
    font-size: 18px;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #75B6F0, #3888CF);
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.5s;
}

button img{
    display: none;
    width: 30px;
}

button:hover img{
    display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(to right, #75B6F0, #3888CF);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    flex-basis: 60%;
    position: relative;
    display: flex;
    align-items: center;
}


.col-2 .controle{
    width: 90%;
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #75B6F0, #3888CF);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}

.add-btn img{
    width: 35px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.add-btn{
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.social-links img{
    height: 13px;
    margin: 20px;
    cursor: pointer;
}

.social-links{
    text-align: center;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #B1B1B1;
}